<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
    	xmlns:android = "http://schemas.android.com/apk/res/android"
        id          = "com.homewardhealthcare.dd"
        versionCode = "3"
        version     = "3" >

    <!-- versionCode is optional and Android only -->

    <name>Website PhoneGap</name>
	<icon src="assets/icon.png" />
	<gap:splash src="assets/splash.png" />

	<preference name="BackgroundColor" value="0xffffffff"/>

	<!-- Do not auto hide splash on iOS -->
	<preference name="AutoHideSplashScreen" value="false" />
	<!-- Do not auto hide splash on Android -->
	<preference name="SplashScreenDelay" value="10000"/>

    <description>
		Homeward Healthcare Website PhoneGap
    </description>

    <author href="https://www.homewardhealthcare.com" email="joeg@homewardhealthcare.com">
        Homeward Healthcare
    </author>

	<preference name="EnableViewportScale" value="true" />
	<preference name="fullscreen" value="true" />
	<preference name="orientation" value="landscape" />

	<!-- plugins -->
	<!--<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />-->
	<!-- Provides a polyfill for the deprecated fileSystem API -->
	<gap:plugin name="org.apache.cordova.file" version="1.3.1" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
	<!-- allow cross domain stuff -->
	<gap:plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm" />


	<!-- make webview browser be chromium -->
	<gap:plugin name="org.crosswalk.engine" version="1.3.0" />
	<!--<gap:plugin name="cordova-plugin-crosswalk-webview" version="1.4.0" source="npm" />-->

	<!--<access origin="https://*.homewardhealthcare.com" />-->
	<!-- Don't block any requests -->
	<access origin="*" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</widget>