<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
    	xmlns:android = "http://schemas.android.com/apk/res/android"
        id          = "com.homewardhealthcare.dd"
        versionCode = "3"
        version     = "3" >

    <name>Website PhoneGap</name>
    <description>HH Website PhoneGap</description>

    <author href="https://www.homewardhealthcare.com" email="joeg@homewardhealthcare.com">
        Homeward Healthcare
    </author>

	<preference name="EnableViewportScale" value="true" />
	<preference name="fullscreen" value="true" />
	<!-- <preference name="orientation" value="landscape" /> -->

	<gap:plugin name="org.apache.cordova.inappbrowser" />

	<!-- allow cross domain stuff -->
	<gap:plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm" />

	<!-- make webview browser be chromium -->
	<!-- <gap:plugin name="org.crosswalk.engine" /> -->

	<!-- Don't block any requests -->
	<!-- <access origin="*" /> -->

	<!-- Allow google cdn -->
	<access origin="https://ajax.googleapis.com" />

	<!-- This will open inside app -->
	<access origin="https://railsphonegap.herokuapp.com" browserOnly="false" />
</widget>
